:root {
  --primary: #c0c0c0;
  --bg: #010101;
  --warna: #fff;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Calligraffitti", "Coming Soon", sans-serif;
  background-color: var(--bg);
  color: var(--warna);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  align-items: center;
}

.navbar .navbar-nav a {
  color: var(--warna);
  display: inline-block;
  margin: 0 1rem;
  font-size: 2.5rem;
  transition: 0.3s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--warna);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Search Box */
.search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 8px;
  gap: 1rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  flex: 1; /* Input melebar otomatis */
  height: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 0 1rem;
  border: none;
  outline: none;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--bg);
  margin: 0; /* Hilangkan margin yang bikin miring */
  display: flex;
  align-items: center; /* Ikon sejajar secara vertikal */
}

/* Shopping Cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  background-color: var(--warna);
  color: var(--bg);
  padding: 1rem 1.5rem;
  transition: 0.4s ease;
  overflow-y: auto;
  z-index: 9999;
}

.shopping-cart.active {
  right: 0;
}

.cart-item {
  margin: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #444;
  padding: 1rem 0;
  position: relative;
}

.cart-item img {
  height: 5rem;
  border-radius: 50%;
}

.shooping-cart h3 {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.shooping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0;
  background-color: var(--bg);
  color: var(--warna);
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Checkout Form */
.form-container {
  width: 100%;
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  color: #000;
  border-top: 2px solid #222;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
}

.form-container input {
  width: 70%;
  background-color: #eee;
  padding: 5px;
  font-size: 1rem;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

.form-container .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}

.checkout-button:hover {
  background: #2b4bd1;
}

/* Produk Section */

.produk {
  padding: 10.5rem 7% 1.4rem;
  background-color: #010101;
}

.produk h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.produk h2 span {
  color: var(--primary);
  font-style: "Coming Soon";
}

.produk .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.produk .produk-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.produk .produk-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.produk .produk-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produk .produk-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.produk .produk-image {
  padding: 1rem 0;
}

.produk .produk-image img {
  height: 25rem;
}

.produk .produk-content h3 {
  font-size: 2rem;
}

.produk .produk-starts {
  font-size: 1.7rem;
  padding: 0.8rem;
}

.produk .produk-stars .star-full {
  fill: var(--primary);
}

.produk .produk-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.produk p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

/* FOOTER */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--bg);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #fff;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--bg);
  padding: 0.7rem 1rem;
}

footer .created {
  font-size: 0.8rem;
}

footer .created a {
  color: var(--bg);
  font-weight: 400;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  form {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-container img {
  height: 14rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--bg);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-logo {
    width: 40%;
    height: 40%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #010101;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: "Coming Soon";
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.15);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
